

.container {
  display: grid;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.col-4 {
  flex: 0 0 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
}

.col-6 {
  flex: 0 0 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
}

/* Asegurarnos que solo haya 2 columnas en la primera fila y 3 en la segunda */
.row:first-child .col {
  flex-basis: calc(33.33% - 20px); /* Tres columnas ocupan un tercio del ancho */
}

.row:nth-child(2) .col {
  flex-basis: calc(50% - 20px); /* Dos columnas ocupan la mitad del ancho */
}



@media (max-width: 768px) {
  .col-4, .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.card {
  padding: 2em;
}

